<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <h1 class="logo"><a href="{{ "/" | prepend: site.baseurl }}">{{ site.author.title }}</a>, <small>presented by <a href="https://www.4psgroup.com"><img src="https://www.4ps.nl/userfiles/image/logo(1).png" style="max-width:1.5em;"></a></small></h1>
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">Home</a></li>
        {% for item in site.navbar %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <!-- <li><a href="https://tinestaric.github.io/presentations" title="Presentations & publications">Presentations & publications</a></li> -->
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-rss"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
